@import "tailwindcss";

:root {
  --background: #010101;
  --foreground: #EAE9E4;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;

  img:-moz-loading {
    visibility: hidden  !important;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-cera: var(--font-cera);
  --font-ricks: var(--font-ricks), serif;
}

@theme {
    --breakpoint-xl: 75rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010101;
    --foreground: #EAE9E4;
  }
}

  .animated {
    will-change: transform;
  }

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cera);
}
